
@media (min-width: 900px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  @import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@1,700&family=Libre+Franklin:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:wght@400;700&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Libre Franklin", sans-serif;
    color: black;
    width: 40vw;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
  }

  #title {
    font-size: 3rem;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
  }

  #photo {
    width: 100%;
    height: auto;
    align-self: center;
  }
  
  #socials {
    font-size: 1.5rem;
  }

  #footer {
    font-size: 1rem;
    margin-top: 10vh;
  }

  a {
    color: #30A2FF;
  }

}
